<!-- Integration pages -->
<div class="row flex-xl-nowrap">
  <%= render 'shared/sidebar' %>
  <div class="col-12 col-md-9 col-xl-10 py-md-5 px-md-5 bd-content">
      <% if current_user.company.kw_integrated? %>
        <div class="kw-integration--done">
          <div class="kw-integration--done-content">
            <%= fa_icon "check-circle 5x", class: "text-success mb-3" %>
            <h4 class="my-2">Congratulations</h4>
            <p>Your company already integrated with koinworks</p>
            <%= image_tag 'koinworks-logo.png', alt: 'Bro', class:"img-fluid my-4", size: "250" %>
          </div>
        </div>
      <% else %>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <h4 class="my-4 mb-5">Register your company to KoinWorks</h4>
            <%= form_tag settings_path, method: :post do %>
              <div class="form-group">
                <label for="">Company Name</label>
                <%= text_field_tag :company_name, params[:company_name], class: "form-control" %>
              </div>

              <div class="form-group">
                <label for="">PIC Name</label>
                <%= text_field_tag :pic_name, params[:pic_name], class: "form-control" %>
              </div>

              <div class="form-group">
                <label for="">Position in Company</label>
                <%= text_field_tag :position, params[:position], class: "form-control" %>
              </div>

              <div class="form-group">
                <label for="">Phone Number</label>
                <%= text_field_tag :phone_number, params[:phone_number], class: "form-control kw-only-number" %>
              </div>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  I am authorize by the company to accept the rule
                </label>
              </div>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  I agree to term and condition provided by KoinWorks
                </label>
              </div>

              <button type="submit" class="btn btn-primary my-4">Submit</button>
            <% end %>
          </div>
        </div>  
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $('.kw-only-number').keypress(validateNumber);
  });

  function validateNumber(event) {
      var key = window.event ? event.keyCode : event.which;
      if (event.keyCode === 8 || event.keyCode === 46) {
          return true;
      } else if ( key < 48 || key > 57 ) {
          return false;
      } else {
        return true;
      }
  };

</script>
