<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paypay</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container-fluid">
      <% if notice.present? %>
        <div class="d-flex justify-content-center">
          <div class="alert alert-info alert-dismissible fade show kw-alert" role="alert">
            <%= notice %>
          </div>
        </div>
      <% end %>
      <% if alert.present? %>
      <div class="d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show kw-alert" role="alert">
          <%= alert %>
        </div>
      </div>
      <% end %>
      <%= yield %>
    </div>
    <!-- <%= render 'shared/footer' %> -->
  </body>
</html>

<script type="text/javascript">

  window.setTimeout(function() {
  	$(".kw-alert").fadeTo(200, 0).slideUp(200, function(){
  		$(this).remove();
  	});
  }, 5000);

</script>
